body {
    margin: 0;
}
header {
    background-color: #38369A;
    color: white;
    padding: 15px;
}
header li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 40px;
}
a {
    color: white;
    font-size: 30px;
}
.content {
    margin: 20px;
}
img {
    max-width: 500px;
    border-radius: 20px;
}