body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #1b263b;
    color: white;
}
header {
    background-color: #0d1b2a;
    color: white;
    padding: 15px;
    font-size: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1.4em;
}

header a {
    font-size: 35px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

a {
    color: white;
    transition: 0.4s;
}

a:hover {
    color: rgb(176, 174, 174);
}
main {
    margin: 40px;
}
img {
    max-width: 500px;
    border-radius: 20px;
}

video {
    max-width: 750px;
    border-radius: 20px;
}
.places {
    display: flex;
    justify-content: space-between;
}

.place {
    background-color: #415a77;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    padding: 0 20px 0px 20px;
    max-width: 500px;
}

.place ul {
    margin-top: -20px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-between img {
    max-width: 50%;
    max-height: 400px;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.padding-right {
    padding-right: 20px;
}

.bold {
    font-weight: bold;
}

.center {
    display: flex;
    align-items: center;
}

.audio-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


th {
    border:2px solid white;
}

td {
    border:1px solid white;
}


td {
    padding: 10px
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

li p {
    margin-bottom: 5px;
}